<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AuthMapper">

    <resultMap id="BaseResultMap" type="com.pojo.Auth">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="authName" column="auth_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,auth_name
    </sql>
</mapper>
